/* Apply margin to all elements */
* {
  margin-left: 5px;
  margin-right: 5px;
}

/* Flex container styles */
.flex {
  display: flex;
}

/* Image styles */
img {
  margin-bottom: 20px;
}

/* Span styles */
span {
  font-style: italic;
}
